h1 {
  color: red;
  text-shadow: 2px 2px 5px black;
  font-size: 100px;
  text-align: center;
}
h2 {
  color: black;
  text-shadow: 2px 2px 5px black;
  font-size: 100px;
  text-align: center;
}
body {
  text-align: center;
  background-color: grey;
  font-size: 30px;
  font-family:Helvetica, sans-serif;
}
