h1 {
  color: black;
  text-shadow: 2px 4px 5px white;
  font-size: 100px;
  text-align: center;
}
h2 {
  color: black;
  text-shadow: 2px 4px 5px white;
  font-size: 70px;
  text-align: center;
}
body {
  background-color: grey;
  font-size: 50px;
  font-family:Helvetica, sans-serif;
}
img {
  border: 5px solid #e6ed13
}
